@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

/* .body{
    max-width: 1160px;
} */

/* shared styles */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.none{
    display: none;
}
.flex{
    display: flex;
}
.nav-list{
    list-style: none;
    justify-content: center;
    align-items: center;
    font-size: 1.25rem;
    font-weight: 500;
}
#li1{
    font-weight: bold;
    color: #FEA301;
}
#li2{
    color: #01ACFD;
}
#li3{
    color: #05D4DF;
}
#li4{
    color: #5D58EF;
}
.nav-item{
    margin-right: 32px;
}
.nav-bar{
    justify-content: space-evenly;
    align-items: center;
    padding: 10px 0;
}
.nav-category{
    font-size: 2rem;
    font-weight: bold;
}
.nav-start{
    align-items: center;
}
.header-icon{
    font-size: 30px;
    /* visibility: hidden; */
    display: none;
}
.btn-1{
    width: 200px;
    height: 50px;
    background-color: #FEA301;
    /* padding: 10px 60px; */
    border: none;
    border-radius: 12px;
    font-size: 1.25rem;
    font-weight: 600;
    color: white;
}
.banner{
    /* width: 640px;
    height: 331px; */
    justify-content: space-evenly;
    align-items: center;
    gap: 50px;
    
}
.banner-item{
    width: 640px;
    height: 331px;
}
.banner-item-1{
    color: #FEA301;
}
.banner-item-2{
    color: #01ACFD;
}
.banner-item h1{
    font-size: 3.5rem;
    font-weight: 700;
}
.banner-item p{
    font-size: 1.25rem;
    font-weight: 400;
    margin: 25px auto;
}
.btn-2{
    width: 197px;
    height: 50px;
    background-color: #111111;
    color: #ffffff;
    font-size: 1.25rem;
    font-weight: 700;
    border: none;
    border-radius: 12px;
}

@media screen and (max-width: 576px){
    .nav-start h3, 
    .nav-list,
    .btn-1{
        display: none;
    }
    .nav-bar{
        /* width: 100%; */
        justify-content: space-between;
        border: 1px solid #FEA301;
        margin: 0 auto;     
    }
    .header-icon{
        font-size: 30px;
        /* visibility: hidden; */
        display: block;
    }
    .banner{
        display: flex;
        flex-direction: column-reverse;
        margin: 0px 20px;
    }
    .banner-item{
        width: 100%;
        text-align: center;
    }
    .banner img{
        width: 100%;
        margin-top: 20px;
    }
    .header-icon{
        visibility: visible;
    }
}